* {
  margin: 0;
  padding: 0;
}
.h5, h5 {
    font-size: 1rem;
    font-weight: bold;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #f4f5f6;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar {
    background-color: #f72210;
    font-weight: bolder;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav a {
    color: white;
    margin-right: 10px;
}

nav button {
    margin-right: 10px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border: none;
    background-color: #ffe400;
    border-radius: 20px;
    font-weight: bolder;
}
.navbar-toggler-icon{
    margin-right: 0px;
    padding: 5px;
    
}

main {
  max-width: 1192px;
  background-color: white;
}



.left {
    display: inline-flex;
    width: 25%;
    flex-flow: column;
    margin-top: 100px;
    margin-right: 10px;
}

.center {
    display: inline-flex;
    flex-flow: column;
    width: 40%;
    position: sticky;
    top: 170px;
    margin-right: 10px;
}

.right {
    display: inline-flex;
    flex-flow: column;
    
    width: 25%;
    position: sticky;
    top: 170px;
}

.img img {
    width: 100%;
}

.img span {
    padding: 5px;
    position: relative;
    top: -26px;
    background-color: rgba(211, 210, 210,.8);
}

.card {
    display: inline-block;
    margin-bottom: 15px;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pic {
    width: 30%;
}

.pic img {
    width: 100%;
}

.pic2 {
    display: flex;
}
.pic2 img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-right: 8px;
}

.pic3 {
    display: flex;
    flex-flow: row;
}

.pic3 :first-child {
    height: 80px;
    width: 80px;
    flex-basis: 25%;
}
.pic3 :nth-child(2) {
    height: 80px;
    width: 80px;
    flex-basis: 75%;
}
.pic3 img {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-right: 8px;
}

.roow {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px rgb(179, 179, 179) solid;
}
.roow :first-child {
    margin-right: 5px;
}
